[submodule "http-parser"]
	path = http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "libosc"]
	path = libosc
	url = https://github.com/OpenMusicKontrollers/libosc.git
[submodule "libosc_stream"]
	path = libosc_stream
	url = https://github.com/OpenMusicKontrollers/libosc_stream.git
