<h2>Interfaces</h2>

<table ng-init="api('/api/v1/interfaces')">
	<tr ng-repeat="interface in interfaces">
		<td ng-if="!interface.internal"><b>{{interface.name}}</b></td>
		<td ng-if="!interface.internal">{{interface.address}} ({{interface.version == 'inet' ? 'IPv4' : 'IPv6'}})</td>
	</tr>
</table>

<!--
<div ng-if="connected" ng-init="api('/api/v1/devices')">
	<h2>Devices</h2>
	<table>
		<tr ng-repeat="(name, device) in devices">
			<td><a href="#/device/{{name}}//">{{device.name}}</a>
			<td>{{device.address}} ({{device.version == 'inet' ? 'IPv4' : 'IPv6'}})</td>
		</tr>
	</table>
</div>
-->
